h3,p{
    color: rgb(95, 5, 64);
    background-color: rgb(240, 161, 195);
    padding:10px;
}

*{
    background-color: black;
}

#A{
    background-color: pink;
    color:red;
    font-weight: 800;
}

.card{
    background-color: rgb(156, 151, 151);
    color:black
}

#B{
    padding:20px;
    background-color: lightgreen;
    font-family: "Helvetica","Arial","sans-serif";
    font-style: oblique;
    color:blue;
    font-weight: 800;
    font-size: larger;
    text-decoration-line: underline overline;
    text-decoration-style: wavy;
    text-decoration-color: black;
    text-decoration-thickness: 4px;
}